body{
    background-color: lightblue;
    text-align: center;
}
#tableinfo{
    border-collapse: collapse;
    width: 100%;
}

#tableinfo tr:nth-child(even){background-color: #f2f2f2;}
#tableinfo tr:hover {background-color: #ddd;}

table, th{
    background-color: lightslategray;
    border: 1px solid black;
    width: 100%;
}
#tableinfo th{
    
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #0d84ec;
    color: white;
    
    /* text-align: center;
    height: 70px;
    background-color: #13cbf4;
    color: white; */
}
